<div id="<%= dom_id list %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">List:</strong>
    <%= list.id %>
    <%= list.name %>
    <%= list.row_order %>
  </div>
  <div data-controller="sortable" data-sortable-group-value="tasks" data-sortable-list-id="<%= list.id %>" class="border p-5 m-5">
    <% list.tasks.rank(:row_order).each do |task| %>
      <div data-sortable-update-url="<%= sort_task_path(task.id) %>" >
        <%= render partial: "lists/task", locals: { task: task } %>
      </div>
    <% end %>
  </div>
</div>
