<%= form_with(model: task, class: "contents",
  data: { controller: "autosubmit", action: "input->autosubmit#submit" }
) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul class="list-disc ml-6">
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="preview" data-controller="autosubmit"></div>
  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="my-5">
    <%= form.label :list_id, "List" %>
    <%= form.collection_select :list_id, List.all, :id, :name %>
  </div>
  <div class="my-5">
    <%= form.label :body %>
    <%= form.textarea :body, rows: 4 %>
  </div>
  <div class="inline">
    <%= form.button "Preview / Validate", formaction: preview_tasks_path, name: "_method", value: "post", data: { autosubmit_target: "submitButton" } %>
    <%= form.submit %>
  </div>
<% end %>
