<% content_for :title, "Customers" %>
<div>
  <% if notice.present? %>
    <p class="p-3 bg-green-50 mb-5 text-green-500 rounded" id="notice"><%= notice %></p>
  <% end %>
  <div class="flex justify-between items-center mb-5">
    <h1 class="text-2xl font-bold">Customers</h1>
    <%= link_to "New customer", new_customer_path, class: "btn btn-primary" %>
  </div>
  <%= search_form_for @q, data: { turbo_frame: :results } do |f| %>
    <%= f.search_field :first_name_or_last_name_or_description_cont, 
          class: "w-96 px-3 py-2 border rounded", 
          oninput: "this.form.requestSubmit()", 
          autocomplete: 'off' 
    %>
  <% end %>
  <%= turbo_frame_tag :results, data: { turbo_action: :advance } do %>
    <div id="customers"></div>
    <%= turbo_frame_tag :pagination, src: customers_path(format: :turbo_stream, q: params[:q]&.to_unsafe_h), loading: :lazy %>
  <% end %>
</div>
