<div id="<%= dom_id address %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Country:</strong>
    <%= address.country_label %>
  </div>
  <div>
    <strong class="block font-medium mb-1">State:</strong>
    <%= address.state_label %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= address.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Details:</strong>
    <%= address.details %>
  </div>
</div>
