<%= form_with(model: address, class: "contents", data: { controller: "form-reset"}) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>
      <ul class="list-disc ml-6">
        <% address.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= turbo_frame_tag :address_selects do %>
    <div data-controller="autosubmit" data-autosubmit-immediately-value="true">
      <%= form.button "validate",
      formAction: new_address_path, 
      formMethod: :get, 
      data: { autosubmit_target: "submitButton", turbo_frame: :address_selects }
    %>
      <div class="my-5">
        <%= form.label :country %>
        <%= form.select :country, address.countries.invert,
        { include_blank: true },
        { data: { action: "change->autosubmit#submit" } } %>
      </div>
      <div class="my-5">
        <%= form.label :state %>
        <%= form.select :state, address.states.invert, 
        { include_blank: true },
        { data: { action: "change->autosubmit#submit" } } %>
      </div>
    </div>
    <div class="my-5">
      <%= form.label :city %>
      <%= form.select :city, address.cities, { include_blank: true }, {}  %>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :details %>
    <%= form.text_field :details %>
  </div>
  <div class="inline">
    <%= form.submit  %>
  </div>
<% end %>
