<p style="color: green"><%= notice %></p>
<% content_for :title, "Posts" %>
<h1>Posts</h1>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %> |
      <%= link_to "Edit this post", edit_post_path(post), data: {turbo_frame: "modal"} %>
    </p>
  <% end %>
</div>
<%= link_to "New post", new_post_path, data: { turbo_frame: "modal" } %>
