<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'shared/page_title' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= turbo_frame_tag :modal %>
    <%= turbo_stream_from :global_notifications_stream %>
    <%= turbo_stream_from :online_users_stream, channel: OnlineUsersChannel %>
    <header>
      <%= render partial: 'layouts/nav' %>
    </header>
    <main>
      <div id="flash">
        <%= render partial: 'layouts/flash' %>
      </div>
      <%= yield %>
      <%= turbo_frame_tag :cookies_modal, src: cookies_path  unless session[:cookies_accepted] %>
    </main>
  </body>
</html>
